@import "tailwindcss";
@import "flowbite/src/themes/default";
@import "preline/variants.css";
@plugin "daisyui";
/* @tailwind base;
@tailwind components;
@tailwind utilities;
@import "preline/variants.css"; */
